{% extends "base.html" %} {% block title %}FILES{% endblock %} {% block header %}

<div class="row mb-2">
  <div class="col-sm-6">
    <h1>Файловий менеджер</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Файловий менеджер</li>
    </ol>
  </div>
</div>
{% endblock %} {% block content %}

<!-- Main content -->

<section class="content">
  <div class="container mt-5">
    <ol class="breadcrumb" id="breadcrumbs">
      <!-- Breadcrumbs will be dynamically added here -->
    </ol>
    <div class="d-flex justify-content-between mb-3">
      <button id="go-back" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i>
        Back
      </button>
      <button id="create-folder" class="btn btn-primary">
        <i class="fas fa-folder-plus"></i>
        New Folder
      </button>
      <button id="upload-file" class="btn btn-success">
        <i class="fas fa-file-upload"></i>
        Upload File
      </button>
    </div>
    <div id="file-list" class="list-group">
      <!-- Files and folders will be dynamically added here -->
    </div>
  </div>
</section>

<!-- Alert Modal -->
<div
  class="modal fade"
  id="alertModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="alertModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="alertModalMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="confirmModalMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmModalConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Input Modal -->
<div
  class="modal fade"
  id="promptModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="promptModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promptModalLabel">Enter Value</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="promptModalInput" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="promptModalSubmit">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Input Modal -->
<div
  class="modal fade"
  id="fileInfoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="promptModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promptModalLabel">File Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- /.content -->
{%endblock%} {% block scripts %}
<script src="{{ url_for('static', path='dist/js/pages/files.js') }}"></script>
<!-- Additional script content can be added here -->
{% endblock %}
