{% extends "base.html" %} {% block title %}Home{% endblock %} {% block header %}
<div class="row mb-2">
  <div class="col-sm-6">
    <h1>Dashboard</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Blank Page</li>
    </ol>
  </div>
</div>
{% endblock %} {% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">CPU Traffic</span>
            <span class="info-box-number">
              {{ cpu_usage }}
              <small>%</small>
            </span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Files</span>
            <span class="info-box-number">{{ total_files }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-folder"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Folders</span>
            <span class="info-box-number">{{ total_folders }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-hdd"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total Size (MB)</span>
            <span class="info-box-number">{{ total_size }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">System Memory Usage</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center"><strong>Memory Usage</strong></p>
                <div class="progress-group">
                  Memory Usage
                  <span class="float-right">
                    <b>{{ used_memory }} Gb</b>
                    / {{ total_memory }} Gb
                  </span>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-info" style="width: {{ (used_memory / total_memory) * 100 }}%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->
{% endblock %} {% block scripts %}
<script></script>
{% endblock %}
